[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redshift-connector = "*"
singleton-decorator = "*"
confluent-kafka = "*"
postgres = "*"
simple-ddl-parser = "*"

[dev-packages]

[requires]
python_version = "3.7"
